@import "/node_modules/open-props/src/props.colors.css";
@import "/node_modules/open-props/src/props.gradients.css";
@import "./theme.css";
@import "./shared.css";

body {
  -webkit-font-smoothing: antialiased;
  font-family: monospace;
  background: var(--gray-0);
}

a.link {
  color: var(--link);
}

a.link:visited {
  color: var(--link-visited);
}
